.header__burger{
    position: relative;
    display: none;
    width: 80px;
    height: 100px;
    padding-top: 35px;
    padding-left: 52px;
}

.header__nav-logo-pic{
    min-width: 20px;
    max-width: 80px;
    height: auto;
    display: none;
    opacity: 0.5;
}


.nav-line{
    display: none;
    border-top: 2px solid #eee;
    width: 100%;
}

.burger__line{
    display: block;
    width: 100%;
    position: absolute;
    font-size: 30px;
    color: rgb(177 177 177);
}

.burger__line.active{
    position: absolute;
    z-index: 20;
    color: black;
    transition: all .3s ease-in;
}

.burger__first{
    top: 0;
}

.burger__second{
    top: 50%;
    transform: translateY(-50%);
}

.burger__third{
    bottom: 0;
}

.header__nav-close{
    display: none;
    width: 100%;
    height: 60px;
}


/*media start*/

@media screen and (max-width: 1024px){
    .intro{
        min-height: 80vh;
    }

    .portfolio{
        height: 70vh;
    }

    .news__cards{
        columns: 2;
        margin: 0 100px;
    }

    .values__cards{
        justify-content: center;
        flex-wrap: nowrap;
    }

    .values__card{
        margin-right: 20px;
    }

    .values__card:last-child{
        margin-right: 0;
    }

    .awesome__cards{
        justify-content: center;
        flex-wrap: nowrap;
    }

    .awesome__card{
        margin-right: 10px;
    }

    .awesome__card:last-child{
        margin-right: 0;
    }

    .header__item:last-child{
        margin-right: 0;
    }
}

@media screen and (max-width: 859px){

    .blog{
        margin-bottom: 30px;
    }

    .things__nav-pic-string{
        padding: 2px 10px;
    }

    .intro{
        min-height: 70vh;
    }

    .portfolio{
        height: 58vh;
    }

    .news__cards {
        margin: 0;
        column-gap: 15px;
        padding: 0 50px;
    }

    .header__item{
        margin-right: 40px;
    }

}

@media screen and (max-width: 767px){

    .header__nav-logo-pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .intro{
        min-height: 80vh;
    }

    .things__nav-pic-string{
        padding: 2px 10px;
    }


    .header__burger{
        display: block;
    }

    .header__nav{
        position: fixed;
        background: rgba(0, 0, 0, 0);
        z-index: -2;
        visibility: hidden;
        padding: 0;
        width: 100%;
        height: 100vh;
        transition: all .3s ease-out;
        left: 0;
    }

    .header__nav.active{
        background: rgba(0, 0, 0, 0.75);
        visibility: visible;
        z-index: 15;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
    }

    .header__nav-list{
        background: rgba(255, 255, 255, 0.97);
        padding-top: 155px;
        padding-bottom: 155px;
        height: 100vh;
        text-align: center;
        padding-right: 160px;
        position: absolute;
        transform: translateX(700px);
        transition: transform .3s ease-in-out;
        box-shadow: 1px 2px 2px 1px rgb(0, 0, 0.99);
    }

    .header__nav-list.active{
        transform: translateX(180px);
    }

    .header__item{
        width: 100%;
        margin: 20px 0;
    }

    /*.header__item:last-child{*/
    /*    margin-top: 15vh;*/
    /*}*/

    .header__link{
        font-size: 25px;
        color: black;


    }

    .header__link:hover, .header__link:focus{
       color: #ababab;
    }

    .header__nav-close{
        color: white;
        cursor: pointer;
        position: absolute;
        top: 15px;
        font-size: 25px;
        display: block;
        padding-top: 20px;
        padding-right: 270px;
    }

    .info{
        margin-bottom: 800px;
    }

    .header__nav-close:focus, .header__nav-close:hover{
        color: #ababab;
    }

    .info__item{
        flex-direction: column;
        align-items: center;
    }

    .info__description{
        margin-top: 40px;
    }

    .values__cards{
        flex-direction: column;
        align-content: center;
    }

    .values__card{
        width: 620px;
        margin-right: auto;
        margin-left: auto;
    }

    .values__card:last-child{
        margin-right: auto;
    }

    .values__card-name{
        margin-bottom: 10px;
    }

    .office__info{
        margin-right: 45px;
    }

    .office__input-field{
        width: 100%;
    }

    .info__photo{
        margin: 0;
    }

    .info__photo img{
        max-width: 552px;
    }

    .news__cards{
        columns: 2;
        padding: 0;
    }

    .nav-line{
        display: block;
    }
}

@media screen and (max-width: 719px){
    .things__nav-pic-string{
        padding: 2px 9px;
    }

    .card__search form input{
        width: 100%;
    }

    .news__card{
        width: 338px;
    }

    .card__search{
        width: 100%;
    }
}

@media screen and (max-width: 540px){

    .about__title{
        width: 100%;
        height: 100px;
    }

    .about__title-main{
        line-height: 50px;
    }

    .intro__title{
        width: 540px;
    }

    .intro__title-main{
        font-size: 35px;
    }

    .things__nav-pic-string{
        display: none;
    }

    .things__item{
        padding-right: 32px;
    }

    .things__link-nav{
        margin-right: 11px;
        font-size: 13px;
    }

    .footer__social-icon{
        margin-right: 60px;
    }

    .things__cards {
        columns: 2;
    }

    .news__cards{
        columns: 1;
        padding: 0 20px;
    }

    .news__card{
        max-width: 100%;
        width: 100%;
    }

    .news__card img{
        width: 100%;
    }

    .card__video{
        width: 100%;
    }


    .news__card-header{
        width: 100%;
    }

    .info{
        margin-bottom: 700px;
    }

    .info__description{
        width: 100%;
    }

    .awesome__subtitle{
        width: 100%;
    }

    .awesome__cards{
        flex-direction: column;
    }

    .awesome__card{
        margin-right: auto;
        margin-left: auto;
    }

    .awesome__card:last-child{
        margin-right: auto;
        margin-left: auto;
    }

    .portfolio__title{
        width: 100%;
    }

    .office__items{
        flex-direction: column;
    }

    .office__input-fields{
        margin-top: 40px;
    }

    .values__card{
        width: 100%;
    }

    .blog__title{
        width: 100%;
    }

    .info__photo img{
        width: 100%;
        max-width: 100%;
    }

    .header__nav-list.active {
        transform: translateX(185px);
    }

}

@media screen and (max-width: 414px){
    .intro__title {
        width: 414px;
        height: 95px;
    }
    .intro__title-main {
        line-height: 35px;
    }

    .things__nav-pic:first-child{
        display: none;
    }

    .things__nav{
        display: none;
    }

    .footer__social-icon{
        margin-right: 40px;
    }

    .things__cards {
        columns: 2;
    }

    .wrapper{
        max-width: 411px;
    }

    .footer__subtitle{
        text-align: center;
    }

    .footer__subtitle-text{
        font-size: 12px;
    }

    .footer__social-link{
        font-size: 23px;
    }

    .blog__title{
        width: 100%;
        height: 100px;
    }

    .blog__title-main{
        line-height: 50px;
    }

    .info__items-info4{
        margin-right: 0;
    }

    .info__items-back{
        margin-left: 10px;
    }

    .header__nav-list.active {
        transform: translateX(170px);
    }
}

@media screen and (max-width: 414px){
    .intro__title{
        max-width: 375px;
    }

    .footer__social-icon{
        margin-right: 36px;
    }

    .footer__social-link{
        font-size: 23px;
    }

    .portfolio__title{
        height: 110px;
    }

    .portfolio__title-main{
        line-height: 50px;
    }

    .awesome__card{
        width: 100%;
    }

    .news__cards{
        padding: 0;
    }

    .office__input-button{
        width: 100%;
    }

    .header__nav-list{
        padding-top: 180px;
    }

    .header__link{
        font-size: 22px;
    }

}

@media screen and (max-width: 375px){
    .header__nav-list{
        padding-top: 145px;
    }

    .header__link{
        font-size: 22px;
    }
}

@media screen and (max-width: 360px){
    .intro__title{
        max-width: 360px;
    }

    .footer__social-link{
        font-size: 20px;
    }

    .news__cards{
        padding: 0;
    }

    .header__nav-list{
        padding-top: 125px;
    }

    .header__link{
        font-size: 19px;
    }

    .header__item:last-child{
        margin-top: 1px;
    }
}

@media screen and (max-width: 320px){
    .intro__title{
        max-width: 320px;
    }

    .things__cards {
        columns: 1;
    }

    .footer__social-link{
        font-size: 18px;
    }

    .footer__social-icon{
        margin-right: 28px;
    }

    .header__item{
        margin: 8px 0;
    }

    .header__link{
        font-size: 18px;
        line-height: 40px;
    }

    .header__nav-list.active{
        transform: translateX(165px);
    }

    .office__info-subtitle{
        font-size: 14px;
    }

    .awesome__title{
        line-height: 35px;
    }

    .blog__title{
        height: 140px;
    }

    .about__title{
        height: 100px;
    }

    .about__title-main{
        font-size: 30px;
    }

    .news__cards{
       padding: 0 10px;
    }

    .map{
        height: 250px;
    }

    .intro__subtitle{
        padding-top: 18px;
    }


}

@media screen and (max-width: 280px){
    .intro__title{
        max-width: 280px;
        height: 115px;
    }

    .footer__social-link{
        font-size: 20px;
    }

    .footer__subtitle-text{
        font-size: 10px;
    }

    .footer__social-icon{
        margin-right: 20px;
    }

    .header__item {
        width: 100%;
        margin: 10px 0;
    }

    .header__item:last-child{
        margin-bottom: 0;
        margin-top: 40px;
    }

    .header__link{
        font-size: 18px;
        line-height: 40px;
    }

    .portfolio__title-main{
        font-size: 30px;
    }

    .about__title-main{
        font-size: 30px;
    }

    .office__info-title{
        font-size: 19px;
    }

    .office__info-subtitle{
        font-size: 12px;
    }



    .office__info-adress span{
        font-size: 13px;
    }

    .news__cards{
       padding: 0 2px;
    }

    .blog__title-main{
        font-size: 30px;
    }

    .header__nav-list{
        padding-left: 30px;
    }

    .header__nav-list.active{
        transform: translateX(135px);
    }

    .header__nav-logo-pic{

    }

}


/*media end*/